.card-numerada {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-fondo);
  padding: 1rem;
  border-radius: 1rem;
}

.numero-circulo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--color-verde_letra);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.icono-cuadro {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: var(--color-verde_letra);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
}

.contenido h3 {
  color: var(--color-verde_letra);
  margin: 0;
  font-size: 1.1rem;
}

.contenido p {
  color: var(--color-gris_oscuro);
  margin: 0.2rem 0 0 0;
}
