.card-numerada {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-Verde_fondo);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.numero-circulo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--color-verde_letra);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.contenido h3 {
  color: var(--color-verde_subtitulo);
  margin: 0;
  font-size: 1.1rem;
}

.contenido p {
  margin: 0.3rem 0 0;
  color: var(--color-gris_oscuro);
  font-size: 0.95rem;
}
